.outer-seach-container {
    min-height: 600px;
    
}

.outer-search-container h1 {
    text-align: center;
    letter-spacing: 0.3rem;
    background-color: #C0C0C0;
}

.search-form-container {
    background-color: #C0C0C0;
    text-align: center;
    padding: 1.5rem;
}

.search-form-container label {
    margin-right: 0.6rem;
}

.search-form-container input {
    padding: 0.6rem;
    border-radius: 12px;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    border-style: solid;
}

.search-form-container button {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 10px;
    border-style: solid;
    transition: all 0.5s linear;
}

.search-form-container button:hover {
    background-color: black;
    color: #C0C0C0;
}

.results-outer-container {
    background-color: #C0C0C0;
}

.results-outer-container .result-p {
    text-align: center;
    font-size: 20px;
    padding: 1rem;
}

.search-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    box-shadow: 1px 1px 3px 2px black;
    border-radius: 0.5rem;
    max-width: 98%;
    min-height: 400px;
    margin: auto;
    background-color: #696969;
}