.outer-watches-container {
    min-height: 600px;
    background-color: #C0C0C0;
}

.outer-watches-container h1 {
    text-align: center;
    letter-spacing: 0.3rem;
}

.watches-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    box-shadow: 1px 1px 3px 2px black;
    border-radius: 0.5rem;
    max-width: 98%;
    min-height: 400px;
    margin: auto;
    background-color: #696969;
}

.outer-watches-container .watches-btns {
    text-align: center;
    margin-top: 1.5rem;
}

.outer-watches-container .watches-btns button {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: solid;
    transition: all 0.3s linear;
}

.outer-watches-container .watches-btns button:first-child {
    margin-right: 0.7rem;
}

.outer-watches-container .watches-btns button:hover {
    background-color: black;
    color: #C0C0C0;
}