.login-outer-container {
    background-color: #C0C0C0;
    
    text-align: center;
   
}

.login-outer-container h1 {
    padding-top: 2rem;
    letter-spacing: 0.3rem;
    animation: login-text-animation 800ms ease;
}



  @keyframes login-text-animation {
    0% {
      transform: scale(0);
    }

    90% {
        transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }