
.outer-edit {
    min-height: 600px;
    background-color: #696969;
    padding: 2rem 0;
}

.outer-edit h1 {
    margin-bottom: 3rem;
    text-align: center;
}

.outer-edit-container {
    display: flex;
}

